window {
    border-radius: 15px;
    background-color: rgba(25, 25, 25, 0.85);
    border: 2px solid #444;
}

#input {
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 14px;
}

#entry:selected {
    background-color: #444;
    color: white;
}
